Source: cila-mod2
Section: misc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: cila-mod2
Architecture: all
Depends: ${shlibs:Depends}
Suggests: ldp-es-garl, ldp-es-glup, ldp-es-gulp, ldp-es-lipp, lucas-novato, apt-howto, debian-guide-es, cupsys
Description: Metapaquete para el Módulo II del CILA
 Curso de Introducción a Linux para Alumnos
 .
 Este  metapaquete  sólo  contiene  las dependencias  a  los  paquetes
 necesarios  para  las  prácticas  del Módulo  II  del  CILA.  También
 contiene sugerencias de paquetes complementarios interesantes.
