Source: cila-mod4
Section: misc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: cila-mod4
Architecture: all
Depends: ${shlibs:Depends}, octave, octave-forge, gnuplot, r-base, yacas, yacas-proteus
Description: Software necesario para el Módulo IV del CILA
 Curso de Introducción a Linux para Alumnos
 .
 Este  metapaquete  sólo  contiene  las dependencias  a  los  paquetes
 necesarios  para  las  prácticas  del Módulo  IV  del  CILA.  También
 contiene sugerencias de paquetes complementarios interesantes.
