Source: cila-mod1-extra
Section: misc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: cila-mod1-extra
Architecture: all
Depends: ${shlibs:Depends}, manpages-es-extra, navigator-base-477, mozilla-browser, konqueror, mutt, evolution, gftp, gdm, gnome-intro-es, gnome-users-guide-es, gimp|gimp1.1|gimp1.2|gimp1.3, dia, qcad, lyx, openoffice.org-l10n-es, bluefish, quanta, vim-gtk, emacs21, gftp, kbear
Description: Software recomendado para el Módulo I del CILA
 Curso de Introducción a Linux para Alumnos
 .
 Este  metapaquete  sólo  contiene  las dependencias  a  los  paquetes
 recomendados para las prácticas del Módulo I del CILA.
