Source: cila-mod5
Section: misc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: cila-mod5
Architecture: all
Depends: ${shlibs:Depends}, vim, emacs20|emacs21, fp-compiler, g77-2.95, gcc, g++, make, gdb, ddd, bash (>> 2.0)
Suggests: vim-gtk, fp-docs, fp-units-api, fp-units-base, fp-units-db, fp-units-fcl, fp-units-gfx, fp-units-gtk, fp-units-misc, fp-units-net, fp-utils, g772.95-doc, gcc-doc, devhelp, devhelp-books, jdk-1.3
Description: Metapaquete para el Módulo V del CILA
 Curso de Introducción a Linux para Alumnos
 .
 Este  metapaquete  sólo  contiene  las dependencias  a  los  paquetes
 necesarios para las prácticas del Módulo V del CILA. También contiene
 sugerencias de paquetes complementarios interesantes.
