Source: cila-mod3
Section: misc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: cila-mod3
Architecture: all
Depends: ${shlibs:Depends}, dia, qcad, gimp1.2|gimp1.3, lyx, tetex-base, tetex-bin, tetex-extra, tetex-eurosym, dvips, xdvi, gs-common, gv|gnome-gv|kghostview
Recommends: openoffice.org, openoffice.org-l10n-es, bluefish, quanta, ktexmaker2, texmacs
Description: Metapaquete para el Módulo III del CILA
 Curso de Introducción a Linux para Alumnos
 .
 Este  metapaquete  sólo  contiene  las dependencias  a  los  paquetes
 necesarios  para  las prácticas  del  Módulo  III del  CILA.  También
 contiene sugerencias de paquetes complementarios interesantes.
