Source: cila-extra
Section: misc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: cila-extra
Architecture: all
Depends: ${shlibs:Depends}, cila-mod1-extra, cila-mod2-extra, cila-mod3-extra, cila-mod4-extra, cila-mod5-extra
Suggests: 
Description: Software recomendado para el CILA
 Curso de Introducción a Linux para Alumnos
 .
 Este  metapaquete  sólo  contiene  las dependencias  a  los  paquetes
 recomendados para las prácticas todos los módulos del CILA.
