Source: cila
Section: misc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: cila
Architecture: all
Depends: ${shlibs:Depends}, cila-libro, cila-mod1, cila-mod2, cila-mod3, cila-mod4, cila-mod5, cila-mod6
Suggests: 
Description: Metapaquete para el material completo del CILA
 Curso de Introducción a Linux para Alumnos
 .
 Este  metapaquete  sólo  contiene  las dependencias  a  los  paquetes
 necesarios para las prácticas todos los módulos del CILA, así como el
 libro que consituye los apuntes del curso.
