table { vertical-align: top; }
body {font-family: helvetica; background-color: #FFFFFF; margin: 0;}
td.foot { height: 10; vertical-align: bottom; margin: 0; font-size: 10; color: white; background-color: black; background-repeat: repeat; background_attachment: fixed; background-position: top left;}
td { vertical-align: top; margin: 0; font-size: 10; color: white; background-color: #FFFFFF; background-repeat: repeat; background_attachment: fixed; background-position: top left;}
A:link { text-decoration:none; color:#609060; }
A:visited { text-decoration:none; color:#609060; }
A:active { text-decoration:none; color:#609060; }
A:hover { text-decoration:bold; color:#006090; }

